# dependencies
node_modules
.pnpm-store

# next
.next
out

# production
build
*.zip

# local codex git fallback
.codex-git-store

# local env
.env
.env.*
!.env.example
.data

# local service links
.vercel
supabase/.temp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# system
.DS_Store
Thumbs.db
