# dependencies
node_modules
.pnpm-store

# next
.next
out

# production
build

# local env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# system
.DS_Store
Thumbs.db
